*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.Header{
    background-color: rgb(255, 191, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.Header-Title{
    display: flex;
    align-items: center;
}

.imgicon{
    height: 50px;
    width: 50px;
}

.RestarauntLinks{
    text-decoration: none;
    color: black;
}

.Header-Button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-Button1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.button{
    display: flex;
    align-items: center;
    padding-right: 4px;
    color: black;
    background-color: hsl(34, 98%, 51%);
    border: 2px solid rgb(109, 76, 0);
    border-radius: 10px;
    text-decoration: none;
    height: 30px;
    font-family: Arial, sans-serif;
}

.button:hover{
    background-color: hsl(34, 98%, 41%);
    transition: all 0.1s 0.1s;
}

.redstar{
    display: flex;
    margin-right:2px;
    height: 21px;
    width: 21px;
}

/* dropdown */

.Header-Button2{
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    padding: 5px;
}

.star{
    height: 20px;
    width: 20px;
}

.star2{
    margin-right: 5px;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: hsl(34, 98%, 51%);
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 150px;

}

.Random{
    padding-left: 2px;
}

.dropdown .dropdowna {
    background-color: hsl(34, 98%, 51%);
    border-radius: 10px;
    display: block;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid hsl(34, 98%, 41%);
}

.dropdown .dropdowna:hover {
    background-color: hsl(34, 98%, 41%);
}

.dropdown a:last-child {
    border-bottom: none;
}

/* advance dropdown */

.Header-Button3{
    padding: 5px;
}

.advance-dropdown{
    position: relative;
    display: inline-block;
}

.dropdownbtn{
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  background-color: hsl(34, 98%, 51%);
  right: 1px;
  min-width: 1240px;
  min-height: 300px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 15px;
  border-radius: 5px;
}

.dropdown-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.dropdown-group {
    background: hsl(34, 98%, 61%);
    padding: 40px;
    width: 30%;
    column-count: 2;
    column-width: 110px;    
    column-rule: 3px solid #333;
    column-gap: 3rem;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-group h4 {
    color: #333;
    margin-bottom: 8px;
    font-size: 14px;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    gap: 5px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
    width: 80%;
}

.dropdown-content a:hover {
    color: hsl(34, 98%, 41%);
    text-decoration-line: underline;
}

.advance-dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
}

.flagname{
    font-size: 17px;
    height: 25px;
    width: 15px;
}

.flags{
    height: 16px;
    width: 16px;
    margin-right: 5px;
    margin-top: 5px ;
}

.flags2{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}